<b>❗️ Проверьте корректность написания времени!</b><br>
<br>
Пример правильного написания: 11:00, 1:01, 15-12

{% if delete %}
<br><br>🤸‍♂️Чтобы полностью очистить расписание напишите: все
{% endif %}