<b>Воспользуйся командой, приведенной в списке ниже👇</b><br>
<br>
📌 Добавить время в расписание отправок -> /set_time<br>
<br>
📪 Удалить время из расписания -> /delete_time<br>
<br>
🗓 Узнать свое расписание -> /schedule<br>
<br>
🔖 Получить новую цитату -> /quote